@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #393e46;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
    display: flex;
    position: relative;
    left: 100px;
}
h1{
    margin: 30px;
    position: relative;
    top: -30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 7.5rem;
    color: #4ecca3;
}
p{
    position: relative;
    top: -45px;
    left: 135px;
    font-size: 2rem;
    color: #4ecca3;
    font-family: 'Indie Flower', cursive;
}
img{
    width: 20%;
    margin: 0;
    
}
